#include "\masm32\include\resource.h"

#define	IDD_MAINDLG	1001
#define	IDC_ICON	1009
#define	IDC_CAPTURE	1101
#define	IDC_EXIT	1102
#define	IDC_RESET	1103

#define	IDC_ONTOP	1201

#define	IDC_LA		2001 //Label for "A"-key.
#define	IDC_LB		2002 //Label for "B"-key.
#define	IDC_LC		2003 //...
#define	IDC_LD		2004
#define	IDC_LE		2005
#define	IDC_LF		2006
#define	IDC_LG		2007
#define	IDC_LH		2008
#define	IDC_LI		2009
#define	IDC_LJ		2010
#define	IDC_LK		2011
#define	IDC_LL		2012
#define	IDC_LM		2013
#define	IDC_LN		2014
#define	IDC_LO		2015
#define	IDC_LP		2016
#define	IDC_LQ		2017
#define	IDC_LR		2018
#define	IDC_LS		2019
#define	IDC_LT		2020
#define	IDC_LU		2021
#define	IDC_LV		2022
#define	IDC_LW		2023
#define	IDC_LX		2024
#define	IDC_LY		2025
#define	IDC_LZ		2026
#define	IDC_LSPACE	2027
#define	IDC_LENTER	2028
#define	IDC_LNUMS	2029
#define	IDC_LACS	2030	//ALT, CTRL, or SHIFT.
#define	IDC_LARROWS	2031
#define	IDC_LOTHER	2032

#define	IDC_PA		2101 //Progress bar for "A"
#define	IDC_PB		2102 //Progress bar for "B"
#define	IDC_PC		2103 //...
#define	IDC_PD		2104
#define	IDC_PE		2105
#define	IDC_PF		2106
#define	IDC_PG		2107
#define	IDC_PH		2108
#define	IDC_PI		2109
#define	IDC_PJ		2110
#define	IDC_PK		2111
#define	IDC_PL		2112
#define	IDC_PM		2113
#define	IDC_PN		2114
#define	IDC_PO		2115
#define	IDC_PP		2116
#define	IDC_PQ		2117
#define	IDC_PR		2118
#define	IDC_PS		2119
#define	IDC_PT		2120
#define	IDC_PU		2121
#define	IDC_PV		2122
#define	IDC_PW		2123
#define	IDC_PX		2124
#define	IDC_PY		2125
#define	IDC_PZ		2126
#define	IDC_PSPACE	2127
#define	IDC_PENTER	2128
#define	IDC_PNUMS	2129
#define	IDC_PACS	2130	//ALT, CTRL, or SHIFT.
#define	IDC_PARROWS	2131
#define	IDC_POTHER	2132

#define	IDC_CA		2201 //Count for "A"
#define	IDC_CB		2202 //Count for "B"
#define	IDC_CC		2203 //...
#define	IDC_CD		2204
#define	IDC_CE		2205
#define	IDC_CF		2206
#define	IDC_CG		2207
#define	IDC_CH		2208
#define	IDC_CI		2209
#define	IDC_CJ		2210
#define	IDC_CK		2211
#define	IDC_CL		2212
#define	IDC_CM		2213
#define	IDC_CN		2214
#define	IDC_CO		2215
#define	IDC_CP		2216
#define	IDC_CQ		2217
#define	IDC_CR		2218
#define	IDC_CS		2219
#define	IDC_CT		2220
#define	IDC_CU		2221
#define	IDC_CV		2222
#define	IDC_CW		2223
#define	IDC_CX		2224
#define	IDC_CY		2225
#define	IDC_CZ		2226
#define	IDC_CSPACE	2227
#define	IDC_CENTER	2228
#define	IDC_CNUMS	2229
#define	IDC_CACS	2230	//ALT, CTRL, or SHIFT.
#define	IDC_CARROWS	2231
#define	IDC_COTHER	2232

#define	IDC_CTOTAL	2233
#define	IDC_CSECOND	3109
#define	IDC_CMINUTE	3110
#define	IDC_CHOUR	3111
#define	IDC_CDAY	3112

#define	IDC_TRIVIA1	3211
#define	IDC_TRIVIA2	3212
#define	IDC_TRIVIA3	3213
#define	IDC_TRIVIA4	3214
#define	IDC_TRIVIA5	3215

#define	IDC_DATE	3002

IDD_MAINDLG	DIALOG 0, 0, 215, 290
//STYLE		0x0004|DS_CENTER |DS_MODALFRAME |WS_VISIBLE|
//		WS_OVERLAPPED|WS_CAPTION |WS_SYSMENU |WS_MINIMIZEBOX
STYLE		DS_CENTER |WS_SYSMENU | WS_MINIMIZEBOX | DS_3DLOOK | WS_VISIBLE
CAPTION		"Intrikat keycounter v0.2 2004-05-01"
FONT		8, "MS Sans Serif"
BEGIN
  DEFPUSHBUTTON	"Capture keys",IDC_CAPTURE,100,270,55,14,BS_FLAT
  PUSHBUTTON	"Exit",IDC_EXIT,160,270,50,14,BS_FLAT
  PUSHBUTTON	"Reset counters",IDC_RESET,100,258,110,10,BS_FLAT

  LTEXT "A",IDC_LA,5,5,10,10
  LTEXT "B",IDC_LB,5,15,10,10
  LTEXT "C",IDC_LC,5,25,10,10
  LTEXT "D",IDC_LD,5,35,10,10
  LTEXT "E",IDC_LE,5,45,10,10
  LTEXT "F",IDC_LF,5,55,10,10
  LTEXT "G",IDC_LG,5,65,10,10
  LTEXT "H",IDC_LH,5,75,10,10
  LTEXT "I",IDC_LI,5,85,10,10
  LTEXT "J",IDC_LJ,5,95,10,10
  LTEXT "K",IDC_LK,5,105,10,10
  LTEXT "L",IDC_LL,5,115,10,10
  LTEXT "M",IDC_LM,5,125,10,10
  LTEXT "N",IDC_LN,5,135,10,10
  LTEXT "O",IDC_LO,5,145,10,10
  LTEXT "P",IDC_LP,5,155,10,10
  LTEXT "Q",IDC_LQ,5,165,10,10
  LTEXT "R",IDC_LR,5,175,10,10
  LTEXT "S",IDC_LS,5,185,10,10
  LTEXT "T",IDC_LT,5,195,10,10
  LTEXT "U",IDC_LU,5,205,10,10
  LTEXT "V",IDC_LV,5,215,10,10
  LTEXT "W",IDC_LW,5,225,10,10
  LTEXT "X",IDC_LX,5,235,10,10
  LTEXT "Y",IDC_LY,5,245,10,10
  LTEXT "Z",IDC_LZ,5,255,10,10
  LTEXT "Space",IDC_LSPACE,105,5,30,10
  LTEXT "Enter",IDC_LENTER,105,15,30,10
  LTEXT "Numbers",IDC_LNUMS,105,25,30,10
  LTEXT "A/C/S",IDC_LACS,105,35,30,10
  LTEXT "Arrows",IDC_LARROWS,105,45,30,10
  LTEXT "Other keys:",IDC_LOTHER,5,265,40,10

  CONTROL "Progress01",IDC_PA,"msctls_progress32",PBS_SMOOTH,15,7,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress02",IDC_PB,"msctls_progress32",PBS_SMOOTH,15,17,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress03",IDC_PC,"msctls_progress32",PBS_SMOOTH,15,27,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress04",IDC_PD,"msctls_progress32",PBS_SMOOTH,15,37,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress05",IDC_PE,"msctls_progress32",PBS_SMOOTH,15,47,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress06",IDC_PF,"msctls_progress32",PBS_SMOOTH,15,57,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress07",IDC_PG,"msctls_progress32",PBS_SMOOTH,15,67,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress08",IDC_PH,"msctls_progress32",PBS_SMOOTH,15,77,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress09",IDC_PI,"msctls_progress32",PBS_SMOOTH,15,87,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress10",IDC_PJ,"msctls_progress32",PBS_SMOOTH,15,97,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress11",IDC_PK,"msctls_progress32",PBS_SMOOTH,15,107,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress12",IDC_PL,"msctls_progress32",PBS_SMOOTH,15,117,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress13",IDC_PM,"msctls_progress32",PBS_SMOOTH,15,127,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress14",IDC_PN,"msctls_progress32",PBS_SMOOTH,15,137,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress15",IDC_PO,"msctls_progress32",PBS_SMOOTH,15,147,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress16",IDC_PP,"msctls_progress32",PBS_SMOOTH,15,157,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress17",IDC_PQ,"msctls_progress32",PBS_SMOOTH,15,167,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress18",IDC_PR,"msctls_progress32",PBS_SMOOTH,15,177,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress19",IDC_PS,"msctls_progress32",PBS_SMOOTH,15,186,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress20",IDC_PT,"msctls_progress32",PBS_SMOOTH,15,197,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress21",IDC_PU,"msctls_progress32",PBS_SMOOTH,15,207,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress22",IDC_PV,"msctls_progress32",PBS_SMOOTH,15,217,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress23",IDC_PW,"msctls_progress32",PBS_SMOOTH,15,226,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress24",IDC_PX,"msctls_progress32",PBS_SMOOTH,15,237,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress25",IDC_PY,"msctls_progress32",PBS_SMOOTH,15,247,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress26",IDC_PZ,"msctls_progress32",PBS_SMOOTH,15,257,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress27",IDC_PSPACE,"msctls_progress32",PBS_SMOOTH,135,7,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress28",IDC_PENTER,"msctls_progress32",PBS_SMOOTH,135,17,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress29",IDC_PNUMS,"msctls_progress32",PBS_SMOOTH,135,27,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress30",IDC_PACS,"msctls_progress32",PBS_SMOOTH,135,37,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress31",IDC_PARROWS,"msctls_progress32",PBS_SMOOTH,135,47,50,5,WS_EX_CLIENTEDGE
  CONTROL "Progress32",IDC_POTHER,"msctls_progress32",PBS_SMOOTH,15,277,50,5,WS_EX_CLIENTEDGE

  LTEXT "0",IDC_CA,70,5,25,10
  LTEXT "0",IDC_CB,70,15,25,10
  LTEXT "0",IDC_CC,70,25,25,10
  LTEXT "0",IDC_CD,70,35,25,10
  LTEXT "0",IDC_CE,70,45,25,10
  LTEXT "0",IDC_CF,70,55,25,10
  LTEXT "0",IDC_CG,70,65,25,10
  LTEXT "0",IDC_CH,70,75,25,10
  LTEXT "0",IDC_CI,70,85,25,10
  LTEXT "0",IDC_CJ,70,95,25,10
  LTEXT "0",IDC_CK,70,105,25,10
  LTEXT "0",IDC_CL,70,115,25,10
  LTEXT "0",IDC_CM,70,125,25,10
  LTEXT "0",IDC_CN,70,135,25,10
  LTEXT "0",IDC_CO,70,145,25,10
  LTEXT "0",IDC_CP,70,155,25,10
  LTEXT "0",IDC_CQ,70,165,25,10
  LTEXT "0",IDC_CR,70,175,25,10
  LTEXT "0",IDC_CS,70,185,25,10
  LTEXT "0",IDC_CT,70,195,25,10
  LTEXT "0",IDC_CU,70,205,25,10
  LTEXT "0",IDC_CV,70,215,25,10
  LTEXT "0",IDC_CW,70,225,25,10
  LTEXT "0",IDC_CX,70,235,25,10
  LTEXT "0",IDC_CY,70,245,25,10
  LTEXT "0",IDC_CZ,70,255,25,10
  LTEXT "0",IDC_CSPACE,190,5,25,10
  LTEXT "0",IDC_CENTER,190,15,25,10
  LTEXT "0",IDC_CNUMS,190,25,25,10
  LTEXT "0",IDC_CACS,190,35,25,10
  LTEXT "0",IDC_CARROWS,190,45,25,10
  LTEXT "0",IDC_COTHER,70,275,25,10

  LTEXT "Logging since",3001,,100,55,45,10
  LTEXT "2004-03-02 22:22",IDC_DATE,/*SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE */,151,55,60,10

  GROUPBOX "Number of keys pressed",3101, 100,65,110,65
  LTEXT "Total:",	3102,	105,	75,	50,10
  LTEXT "Keys/second:",	3103,	105,	85,	50,10
  LTEXT "Keys/minute:",	3104,	105,	95,	50,10
  LTEXT "Keys/hour:",	3105,	105,	105,	50,10
  LTEXT "Keys/day:",	3106,	105,	115,	50,10
  LTEXT "0",IDC_CTOTAL,155,75,40,10
  LTEXT "0",IDC_CSECOND,155,85,40,10
  LTEXT "0",IDC_CMINUTE,155,95,40,10
  LTEXT "0",IDC_CHOUR,155,105,40,10
  LTEXT "0",IDC_CDAY,155,115,40,10

  GROUPBOX "Additional information",3201, 100,135,110,105
  LTEXT "The total force exerted on the keys equals:",3202,105,145,100,20
  LTEXT "",IDC_TRIVIA1,105,165,100,10
  LTEXT "",IDC_TRIVIA2,105,175,100,10
  LTEXT "",IDC_TRIVIA3,105,185,100,10
  LTEXT "",IDC_TRIVIA4,105,195,100,10
  LTEXT "",IDC_TRIVIA5,105,205,100,10

  CHECKBOX "Always on top", IDC_ONTOP, 100, 245, 80, 10, BS_FLAT

END

IDC_ICON ICON MOVEABLE PURE LOADONCALL DISCARDABLE "ikc.ico"
